#banner {
	background-image: url("/Pictures/Waves.jpg");
	width: 75%;
	padding-left: 12.5%;
	padding-right: 12.5%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	margin-bottom: 0%;
}

#topnav {
	background: rgb(122,29,69);
	padding: 1%;
	padding-left: 0%;
	margin: 1%;
	margin-top: 0%;
}

#topnav a{
	text-decoration: none;
	color: white;
	padding: 1% 1% 1% 1%;
}

#topnav a:hover {
	background: rgb(167, 72, 113);
}

body {
	padding: 0px;
	margin: 0px;
}